<div class="new_drink">
  

<%= form_for @drink do |f| %>
  <div class="field">
    <%= f.label :title %>
    <div id="box"><%= f.text_field :name %> 
    </div>
  </div>  
  <div class="field">
    <%= f.label :base %>
    <div id="box"><%= f.select :base, options_for_select(
    ["CHOOSE", "VODKA", "GIN", "RUM", "WHISKEY", "TEQUILA", "BRANDY", "SCOTCH"]) %> <br>
    </div>
  </div> 
  <div class="field">
    <%= f.label :ingredients %>
    <div id="box"> <%= f.text_field :ingredients %> 
    </div>
  </div> 
  <div class="field">
    <%= f.label :directions %>
    <div id="box"><%= f.text_field :directions %> 
    </div>
  </div> 
  <div id="create_drink" class="actions"><%= f.submit %></div>
<% end %>

</div>

