<div class="layouts">

<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <title>BoozyBasics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @bg %>">


<nav>

<% if current_user %>
  <%= link_to 'Create Concoction', new_drink_path %> &nbsp;
<% end %>
  <%= link_to 'View Dranks', drinks_path %> &nbsp;

  <% if current_user %>
    Cheers, <%= current_user.name %>
    &nbsp; | &nbsp; &nbsp;&nbsp;
    <%= link_to 'Logout', session_path('dummy'), method: :delete %> &nbsp;
  <% else %> 
    <%= link_to 'Login', login_path %>
    Is your glass empty? <%= link_to 'Sign Up!', new_user_path %> &nbsp;
    &nbsp;&nbsp; &nbsp;&nbsp;
  <% end %>
</nav>


<%= yield %>



</body>
</html>

</div>


